/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
}

body {
  background: white;
  margin: 0;
  position: relative;
}

a {
  /*om de blauwe kleur en onderstreep te verwijderen van links*/
  color: #767676;
  text-decoration: none;
}

@media(min-width:480px) {
  #Intro article:first-of-type {
    padding: 80px 12px 64px;
  }

  section article p:nth-of-type(2) {
    margin-bottom: 24px;
  }
}

@media(min-width:768px) {

  header{
    /*dit is me container/parent */
    z-index: 10;
    margin: 0;
    padding: 0 20px;
    height: 62px;
    max-width: 100%;
    display: flex;
    align-items: center;
    background: white;
    overflow: hidden;
  }

  header a svg {
    width: 32px;
    height: 32px;
  }

  header ul {
    display: flex;
    width: fit-content;
    list-style-type: none;
    padding: 0 16px;
  }

  header ul li {
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    padding: 20px 12px;

  }

  header ul li:first-of-type {
    color: #111;
  }

  header ul li span {
    background: linear-gradient(94deg, #ff2a2a, #7074ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    font-size: 10px;
    font-weight: 500;
    position: relative;
    top: -10px;
  }

  header ul li svg {
    fill: #767676;
  }

  #Submitphoto {
    font-weight: 500;
    font-size: 14px;
    color: #767676;
    background-color: white;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    padding: 0 11px;
    height: 30px;
  }

  #Bell {
    padding: 10px 14px;
    margin-left: 9px;
    height: 43.2px;
    width: 48px;
  }

  #Bell path {
    fill: #767676;
  }

  header button img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    overflow: hidden;
  }

  #Profile {
    padding: 0;
    margin: 0;
    margin-left: 6px;
    border: 0;
    height: fit-content;
    border-radius: 50%;
    overflow: hidden;
  }

  #Profile:focus {
    outline: none;
  }
  header #zoekbalk {
    /*Dit is de css voor de hele zoekbalk div*/
    width: fit-content;
    margin: 0 0 0 1.2em;
    display:flex;
    flex-grow:1;
  }

  #zoekbalk button svg {
    margin: .1875em 0 0 .1875em;
    fill: #767676;
    height: 60%;
    padding-top: 6px;
  }

  form button svg path {
    fill: #767676;
  }

  #searchBigscreen{
    display:none;
  }

  #hamburger {
    display: none;
  }

  #Intro article:first-of-type {
    padding-top: 9.6em;
    padding-bottom: 152px;
  }

  #themas {
    /*dit is de bovenste <ul> op desktop*/
    display: flex;
    position: relative;
    box-shadow: 0 4px .8em rgba(0, 0, 0, .08), 0 0 1px rgba(1, 0, 0, .1);
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

  #themas::-webkit-scrollbar {
    display: none;
  }

  section #themas li {
    /*items in de menubalk*/
    padding: 0 16px;
    /*i.p.v 24px links (zoals op website), 12 aan elke kant zodat de scrollsnap er mooier uitziet*/
    scroll-snap-align: start;
    /*hij snapt nu aan de linkerkant vast*/

  }

  #themas li a {
    font-size: 14px;
    height: 56px;
    display: flex;
    align-items: center;
  }

  #themas li:first-of-type a {
    height: 56px;
    color: #111;
    pointer-events: none;
    box-shadow: inset 0 -2px #111;
  }

}

@media(max-width:768px) {
  header {
    display: grid;
    grid-template-columns: min-content 1fr min-content min-content;
    column-gap: 1em;
    grid-column-start: auto;
    border-bottom: solid 1px rgba(229, 229, 229);
  }
}

/*----------------------------------@MEDIA(MAX-WIDTH) EINDIGT HIER---------------------------------------------
---------------------------------------------------------------------------------------------------------------*/

header {
  /*dit is me container/parent */
  z-index: 10;
  align-items: center;
  margin: 0;
  padding: 0.5em 0.8em;
  height: 56px;
  max-width: 100%;

  background: white;
  overflow: hidden;
}

header a svg {
  width: 26px;
  height: 26px;
}

header button img {
  border-radius: 50%;
}
header ul {
  display: none;
}

header li {
  display: none;
}

#Submitphoto {
  display: none;
}

#Bell {
  display: none;
}

#searchBigscreen {
  display: none;
}

#Profile {
  padding: 0;
  margin: 0;
  border: 0;
  height: fit-content;
  border-radius: 50%;
}

#Profile:focus {
  outline: none;
}


#zoekbalk{
  /*Dit is de css voor de hele zoekbalk div*/
  height: 2.5em;
  width:100%;
  border-radius: 1.6em;
  background-color: #eee;
  border: 0;
  margin: 0;
}

#zoekbalk button {
  /*dit is niet alleen de icon */

  height: 40px;
  display: flex;
  width: 100%;
  background-color: transparent;
  border: 0;
}

#searchSmallscreen {
  background-color: transparent;
  border: 0;
  width: 100%;
  height: 100%;
  padding: 1px 2px 4px 7px;

  font-size: 13.8px;
}

#zoekbalk button svg {
  margin: .1875em 0 0 .1875em;
  fill: #767676;

  height: 60%;
  padding-top: 6px;
}

#hamburger {
  margin-right: 4px;
}

#hamburger path {
  fill: #767676;
}



#themas {
  /*dit is de bovenste <ul>*/
  list-style-type: none;
  background-color: white;
  height: 56px;
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
  box-shadow: 0 4px .8em rgba(0, 0, 0, .08), 0 0 1px rgba(1, 0, 0, .1);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

#themas::-webkit-scrollbar {
  display: none;
}

#themas li {
  /*items in de menubalk*/
  padding: 0 .8em;
  /*i.p.v 24px links (zoals op website), 12 aan elke kant zodat de scrollsnap er mooier uitziet*/
  height: 56px;
  width:fit-content;
  color: #767676;
  scroll-snap-align: start;
  /*hij snapt nu aan de linkerkant vast*/

}

#themas li a {
  font-size: 14px;
  height: 56px;
  display: flex;
  align-items: center;
}

#themas li:first-of-type a {
  height: 56px;
  color: #111;
  pointer-events: none;
  box-shadow: inset 0 -2px #111;
}


#Intro {
  margin: 0;
  margin-bottom: 3.2em;
  width: 100%;
  /*size of the section*/

  background-image: url('../images/photo1.jpg');
  /*background fuckwith*/
  background-size: cover;
  background-position: center;
}


article {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  padding: 2.1333333333333333em .8em;
  margin: 0;
}

#Unsplashtitel {
  color: white;
  font-size: 1.6em;
  font-weight: 700;
  margin: 0;
  margin-bottom: .2em;
}

h2 {
  color: white;
  margin: 0;
  line-height: 1.6;
}

section article p {
  color: white;
  margin: 0;
  line-height: 1.6;
  width: 100%;
}

#Squarespace-article {
  padding: 1.333333em 1.333333em 1.333333em .8em;
}

#squarespace {
  font-family: "object-fit:contain";

  max-width: 150px;
  height: 1.20em;
  object-fit: contain;
  opacity: .8;
  margin-top: -1em;
  transform: translateY(-40%);
}

#cywt {
  color: white;
  opacity: .8;
  margin: 0;

  font-size: .8em;
}

section {
  background-color: white;
  color: black;
}

#Posttemplate {
  padding-bottom: 2.5833333333333335em;

}

#abovepost {
  /*poster - template*/
  display: flex;
  padding: 0;
  margin: .8em;
  margin-top: 0;
  flex-flow: column wrap;
  justify-content: center;
  height: 34.4px;
  width: fit-content;
  text-align: justify;
}

#profilepic {
  /*profile pic*/
  border-radius: 100px;
  border: solid 1px rgba(118, 118, 118, .20);
  width: 32px;
  height: 32px;
  margin-right: .5em;
}

#abovepost h3 {
  /* post naam*/
  margin: 0;
  height: 1em;
  padding: 0;
  width: fit-content;
}

section:nth-of-type(3) a {
  /*post description*/
  margin: 0;
  font-size: 11px;
}

#post {
  /*de foto die geplaatst wordt*/
  width: 100%;
}

#onderpost {
  /*dit is de hele balk onder de post*/
  margin: .75em .8em;
  display: flex;
  fill: 1;
  justify-content: space-between;
  height: 32px;
}

#likeplus {
  /*dit zijn de "like" en "plus" knopje onder de post*/
  margin: 0;
  width: 5.933333333333334em;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

#likeplus svg {
  /*beiden svg's van zowel hartje als plus*/
  fill: #767676;
  width: 1em;
}

#likeplus button {
  /*de buttons van like en plus*/
  width: 2.6em;
  height: 2.1333333333333333em;
  padding: 0 0.7333333333333333em;
  margin: 0;
  border: solid 1px #d1d1d1;
  border-radius: .3em;
  background-color: white;
}

#downloadmore {
  /*download en puntjes onder post*/
  padding: 0;
  margin: 0;
  justify-content: flex-end;
  width: 5.933333333333334em;
  flex-direction: row;
}

#downloadmore svg {
  fill: #767676;
  height: 1.6em;
  width: 2.13333333em;
}

#downloadmore button {
  height: 32px;
  /* padding:0 0.7333333333333333em; */
  margin: 0;
  background-color: white;
  align-items: center;
  color: #767676;
}

#Download {
  border-radius: .3em 0 0 .3em;
  border: solid 1px #d1d1d1;
  padding: 0 0.7333333333333333em;
  font-size: 14px;
  height: 32px;
}

#more {
  border-radius: 0 .3em .3em 0;
  border: solid 1px #d1d1d1;
  padding: 0;
  border-left: 0;
}

/*
#uitklapmenu{
  width:250px;
  background-color:black;
  position:relative;
}  */



.visually-hidden {
  /* https://www.a11yproject.com/posts/2013-01-11-how-to-hide-content/ */
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}