/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
  font-family: apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
   font-size: 15px;
    font-weight: 400;
  
  
}
  head{
    
  }


header{   /*dit is me container/parent */
  z-index: 10;
  align-items:center;
  margin:0;
  

  max-width:100%;
  
    display:grid;
    grid-template-columns:min-content 1fr min-content;
    column-gap:1em;
    
  
  background: white;
  padding:0.5em 0.8em;
  
  overflow:hidden;
  
  border-bottom: solid 1px rgba(229, 229, 229);
  
}
#zoekbalk {  /*Dit is de css voor de zoekbalk*/

    height: 2.5em;
    border-radius: 1.6em;
    background-color: #eee;
    border: 1px solid transparent;
    margin:0;
    flex:1;
   
}


button:first-of-type{ /*dit is niet alleen de icon */
 
  height: 40px;
   display:flex;
    
    width: 100%;
    background-color: transparent;
    border: 1px solid transparent;
    
}
#search{
  background-color:transparent;
 border:solid 1px transparent;
  width:100%;
  height: 100%;  
  padding: 1px 2px 4px 7px;

  font-size: 13.8px;
  
}

#search-icon{
    margin: .1875em 0 0 .1875em;
    fill: #767676;
     
     height:60%;
     padding-top:6px;
  
  
}


#homebutton{
  
}


#hamburger {
  
   fill:#767676;
   
}
 
#themas{                          /*dit is de bovenste <ul>*/
   list-style-type: none;
   background-color:white;
   height:3.7333333333333334em;
   
   margin:0;
   padding:0;

   font-size: 0.9333333333333333em;

   overflow-x:scroll;
   
   display:flex;
   align-items:center;
}
#themas::-webkit-scrollbar {
  display: none;
}

li{
   padding-left:1.6em;
    height:100%;
    width:500px;
    
  
    display:flex;
    align-items:center;
  
  
   color:#767676;

  
}

li:first-of-type{
  padding-left:.8em;
}
li:last-of-type{
  padding-right:.8em;
}

li.beingused{
  
  
}

section{
    margin:0;
    
    width:100%;               /*size of the section*/

    
    background-image: url('images/photo1.jpg'); /*background fuckwith*/
    background-size:cover;
    background-position: center;

    margin-bottom:3.2em;

  
  
    
 }

article{
   display:flex;
    justify-content:flex-start;
    align-items:flex-start;
    flex-direction: column;

    padding:2.1333333333333333em .8em;
    margin:0;

}

h1{
    color:white;
    font-size: 1.6em;
    font-weight: 700;
    margin:0;
 
    

 }
h2{
  color:white;
  margin:0;
  line-height: 1.6;




 }

#squarespace{
     font-family: "object-fit:contain";
    
    width:10em; height:1.6em;    
    object-fit: contain;
    opacity: .8;
   
    margin-left:.8em;
    margin-top:-1em;
  
    
}
 #cywt{
  color:white;   opacity: .8;

 
  padding:10px 20px 20px 12px;
  margin:0;
 
  font-size:.8em;

 }

body{
background:grey;
margin:0;

 }